/*
*
* Event Cards
* 
*/
	.item-col {

		.content-card-small {

			width:100%;

			& .mix{
				display: none;
			}

			height: 320px;
			overflow:hidden;
			background:transparent;
			border-radius:.25em;
			& * {
				transition: all .3s ease;
			}

			.card-block {
				background: #fff;
			}

			.countdown {
				background: $u-red ;
				display: inline-block;
				padding: 2px 10px;
				margin: 1.25rem;
				color:#fff;
				z-index: 10;
				font-style: 0.9em;
			}

			.date, .location {
				font-size: 0.9em;
			}

			.description {
				padding: 0 1.25rem 1.25rem;
				margin-top: -20px;
				padding-top: 20px;
				background: #fff;
				height:100%;


				& span {
					font-size: 0.8em;
				}
				button  {
				    position: absolute;
				    width: 100%;
				    bottom: 0;
				    left: 0;
				    margin-bottom: -400px;
				}

			}
			.card-img-top {
				overflow: hidden;
			}
			

			.card-img-gradient {
				@extend %g-sky-trans  ;
				z-index: 1;
			}
			

		}

		&:hover {

			.card-block{
				top:0;
				padding-top: 40px;
			}

			.card-img-top {
				height:0!important;
			}

			.description {
				display:block;

				button {
					margin: 0 0 0 0;
				}
			}
			
			.key {
				top: -20px!important;

				& > .night {
					background-color:$u-sky!important;
				}
				& > .day {
					background-color:$u-yellow!important;
				}
				& > .main {
					background-color:$u-lime!important;
				}
				& > .night {
					background-color:$u-sky;
				}
				& > .day {
					background-color:$u-yellow;
				}
				& > .main {
					background-color:$u-lime;
				}
				& > .liveMusic {
					background-color:$u-green!important;
				}
				& > .alcoholFree {
					background-color:$u-orange!important;
				}
				& > .club {
					background-color:$u-sky-d10!important;
				}
				& > .family {
					background-color:$u-red-l10!important;
				}
				& > .free {
					background-color:$u-lime-l10!important;
				}
				& > .platinum {
					background-color:$u-platinum!important;
				}
				& > .platinumX {
					background-color:$u-platinum!important;
				}
				& > .ticketed {
					background-color:$u-red!important;
				}
				& > .signUp {
					background-color:$u-lime-d10!important;
				}
			}

			.countdown {
				margin:0;
			}
		}

		.key {

			padding:1.25rem;
			top: 160px;
			position: absolute;
			transition: all .2s ease;


				.tod, .cat2, .cat3 {
			    width: 0px;
			    height: 0px;
			    background: $u-red;
			    border-radius: 50%;
			    position: absolute;
			    z-index:10;
			    background-size: 70%;
			    background-position: center center;
			    background-repeat: no-repeat;

			    .tod {
			    	left: 20px;
			    }

			    .tod-icon {
			    	padding: 5px;
			    	width: 100%;
			    }
				&.night, &.day, &.main, &.liveMusic, &.alcoholFree, &.club, &.family, &.free, &.platinum, &.platinumX, &.ticketed, &.signUp {
					width: 40px;
			    	height: 40px;
				}	
			    &.night {
			    	background-color:#fff;
			    	background-image: url('//welcome.thestudentsunion.co.uk/assets/icons/moon_filled.svg');

			    	&:hover {
			    		background-color:$u-sky;
			    	}
			    }
			    &.day {
			    	background-color:#fff;
			    	background-image: url('//welcome.thestudentsunion.co.uk/assets/icons/sun.svg');

			    	&:hover {
			    		background-color:$u-yellow;
			    	}
			    }
			    &.main {
			    	background-color:#fff;
			    	background-image: url('//welcome.thestudentsunion.co.uk/assets/icons/star_filled.svg');

			    	&:hover {
			    		background-color:$u-lime;
			    	}
			    }
			    &.liveMusic {
			    	background-color: #fff;
			    	background-image: url('//welcome.thestudentsunion.co.uk/assets/icons/guitar_filled.svg');
			    	&:hover {
			    		background-color:$u-green!important;
			    	}
			    }
			    &.alcoholFree {
			    	background-color: #fff;
			    	background-image: url('//welcome.thestudentsunion.co.uk/assets/icons/no_alcohol.svg');
			    	&:hover {
			    		background-color:$u-orange!important;
			    	}
			    }
			    &.club {
			    	background-color: #fff;
			    	background-image: url('//welcome.thestudentsunion.co.uk/assets/icons/dancing_filled.svg');
			    	&:hover {
			    		background-color:$u-sky-d10!important;
			    	}
			    }
			    &.family {
			    	background-color: #fff;
			    	background-image: url('//welcome.thestudentsunion.co.uk/assets/icons/family_filled.svg');
			    	&:hover {
			    		background-color:$u-red-l10!important;
			    	}
			    }
			    &.free {
			    	background-color: #fff;
			    	background-image: url('//welcome.thestudentsunion.co.uk/assets/icons/free.svg');
			    	&:hover {
			    		background-color:$u-lime-l10!important;
			    	}
			    }
			    &.platinum {
			    	background-color: #fff;
			    	background-image: url('//welcome.thestudentsunion.co.uk/assets/icons/platX.svg');
			    	&:hover {
			    		background-color:$u-platinum!important;
			    	}
			    }
			    &.platinumX {
			    	background-color: #fff;
			    	background-image: url('//welcome.thestudentsunion.co.uk/assets/icons/platPlatX.svg');
			    	&:hover {
			    		background-color:$u-platinum!important;
			    	}
			    }
			    &.ticketed {
			    	background-color: #fff;
			    	background-image: url('//welcome.thestudentsunion.co.uk/assets/icons/ticketed_filled.svg');
			    	&:hover {
			    		background-color:$u-red!important;
			    	}
			    }
			    &.signUp {
			    	background-color: #fff;
			    	background-image: url('//welcome.thestudentsunion.co.uk/assets/icons/add_user_filled.svg');
			    	&:hover {
			    		background-color:$u-lime-d10!important;
			    	}
			    }

			    &.cat2 {
			    	left:70px;

			    	&.empty + .cat3 {
			    			left:70px;
			    		}
			    }
			    &.cat3 {
			    	left:120px;
			    }
			}

		}

	&.compact-listing {
		padding:0;
		border-bottom: 1px solid #c1c1c1;
		border-top: 1px solid #c1c1c1;
		margin-bottom: 20px;
		.description {
			display:block;
			padding:0!important;
			margin:0!important;
			
			button {
				bottom:-100px;				
				transition:bottom .25s ease!important;
			}
			span {
				display:none;
			}
		}

		.card-block {
			background: rgba(255, 255, 255, 0.5);
			padding: 3rem 1.25rem 1.25rem 1.25rem;
		}
		.card-img-top {
			pointer-events: auto;
			    position: absolute;
			    width: 100%;
			    top: 0;
			    left: 0;
			    height: 100%!important;
			    display: block;
			    z-index: 0;
			    opacity: 1;
			    background-position: center center!important;
		}
		.card-img-gradient {
			height:100%!important;
		}


		.key {
			top:0px!important;

			.cat2 {
				left:50px;

				&.empty + .cat3 {
						left:50px;
					}
			}
			.cat3 {
				left:80px;
			}
			.tod, .cat2, .cat3 {
				background-image:none;
				width: 20px;
				height: 20px;
				display:none;
				transition: all .2s ease;
				z-index: 1000;
				&.night {
					display:block;
					background-color:$u-sky!important;
				}
				&.day {
					display:block;
					background-color:$u-yellow!important;
				}
				&.main {
					display:block;
					background-color:$u-lime!important;
				}
				&.liveMusic {
					display:block;
					background-color:$u-green!important;
				}
				&.alcoholFree {
					display:block;
					background-color:$u-orange!important;
				}
				&.club {
					display:block;
					background-color:$u-sky-d10!important;
				}
				&.family {
					display:block;
					background-color:$u-red-l10!important;
				}
				&.free {
					display:block;
					background-color:$u-lime-l10!important;
				}
				&.platinum, &.platinumX {
					display:block;
					background-color:$u-platinum!important;
				}
				&.platinumX {

				}
				&.ticketed {
					display:block;
					background-color:$u-red!important;
				}
				&.signUp {
					display:block;
					background-color:$u-lime-d10!important;
				}
			}

			
		}
		.content-card-small {
			height: auto;
			margin:0;
			border-radius:0;
		}

		&:hover {
			.card-img-top {
				pointer-events: auto;
			    position: absolute;
			    width: 100%;
			    top: 0;
			    left: 0;
			    height: 100%!important;
			    display: block;
			    
			    opacity: 1;
			    background-position: center center!important;
			}
			.card-block {
			    top: 0;
				padding: 3rem 1.25rem 3.5rem 1.25rem;
			}
			.description {
				button {
					bottom:0px;
				}
				
			}
			.key {
				top:-30px!important;
				.cat2 {
					left:70px;
	
					&.empty + .cat3 {
						left:70px;
					}
				}
				.cat3 {
					left:120px;
				}

				.tod, .cat2, .cat3 {
					background-image:none;
					width: 40px;
					height: 40px;
					
					&.night {
						background-image: url('//welcome.thestudentsunion.co.uk/assets/icons/moon_filled.svg')!important;
					}
					&.day {
						background-image: url('//welcome.thestudentsunion.co.uk/assets/icons/sun.svg')!important;
					}
					&.main {
						background-image: url('//welcome.thestudentsunion.co.uk/assets/icons/star_filled.svg')!important;
					}
					&.liveMusic {
						background-image: url('//welcome.thestudentsunion.co.uk/assets/icons/guitar_filled.svg')!important;
					}
					&.alcoholFree {
						background-image: url('//welcome.thestudentsunion.co.uk/assets/icons/no_alcohol.svg')!important;
					}
					&.club {
						background-image: url('//welcome.thestudentsunion.co.uk/assets/icons/dancing_filled.svg')!important;
					}
					&.family {
						background-image: url('//welcome.thestudentsunion.co.uk/assets/icons/family_filled.svg')!important;
					}
					&.free {
						background-image: url('//welcome.thestudentsunion.co.uk/assets/icons/free.svg')!important;
					}
					&.platinum {
						background-image: url('//welcome.thestudentsunion.co.uk/assets/icons/platX.svg')!important;
					}
					&.platinumX {
						background-image: url('//welcome.thestudentsunion.co.uk/assets/icons/platPlatX.svg')!important;
						border-radius: 20px;
						width: 60px;
					}
					&.ticketed {
						background-image: url('//welcome.thestudentsunion.co.uk/assets/icons/ticket_filled.svg')!important;
					}
					&.signUp {
						background-image: url('//welcome.thestudentsunion.co.uk/assets/icons/add_user_filled.svg')!important;
					}
				}
			}
		}
	}			



}
	
@include media-breakpoint-down(sm) { 
	section#events #event-listings-card {
		width: 100%;
		margin: 0;
	}	
}

	