/*
*
* FAQ
* 
*/

.card.faq {
	.card-block[aria-expanded="false"] {
		border-bottom:0px solid #fff;
		
		&:before {
		  content: "";
		  position: absolute;
		  width: 40px;
		  height: 100%;
		  top: 0;
		  right: 20px;
		  z-index: 1;
		  background-image: url(/assets/icons/up4.svg);
		  background-repeat: no-repeat;
		  background-position: center;
		  background-size: 30px;
		  transition:all .25s ease;
		  transform: rotate(0deg);
		}
	}
	
	.card-block[aria-expanded="true"] {
	    border-bottom:1px solid $gray-lighter;
    	&:before {
    	  content: "";
		  position: absolute;
		  width: 40px;
		  height: 100%;
		  top: 0;
		  right: 20px;
		  z-index: 1;
		  background-image: url(/assets/icons/up4.svg);
		  background-repeat: no-repeat;
		  background-position: center;
		  background-size: 30px;
		  transition:all .25s ease;
		  transform: rotate(180deg);
    	}
	}

	&:hover {
		cursor: pointer;
	}
}