/*
*
* FAQ
* 
*/

.card.faq {
	
	background-color: rgba(255, 255, 255, 0.5);
	
	.card-title {
		font-weight:bold;
	}

	.card-block.question {
		padding: 1.25rem 3rem 1.25rem 1.25rem;
	}

	&[aria-expanded="false"] {
		.card-block.question {
			border-bottom:0px solid #fff;

			
			&:before {
			  content: "";
			  position: absolute;
			  width: 40px;
			  height: 100%;
			  top: 0;
			  right: 20px;
			  z-index: 1;
			  background-image: url(/assets/icons/up4.svg);
			  background-repeat: no-repeat;
			  background-position: center;
			  background-size: 30px;
			  transition:all .25s ease;
			  transform: rotate(0deg);
			}
		}
	}
	
	
	&[aria-expanded="true"] {

		background-color:#fff;

		.card-block.question {
		    border-bottom:1px solid $gray-lighter;

	    	&:before {
	    	  content: "";
			  position: absolute;
			  width: 40px;
			  height: 100%;
			  top: 0;
			  right: 20px;
			  z-index: 1;
			  background-image: url(/assets/icons/up4.svg);
			  background-repeat: no-repeat;
			  background-position: center;
			  background-size: 30px;
			  transition:all .25s ease;
			  transform: rotate(180deg);

	    	}
		}
	}

	&:hover {
		cursor: pointer;
		background-color: #fff;
	}
}