/*
*
* Platinum
* 
*/

.platinum-pass {
	@extend %g-platinum;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-family:  AlternateGothicLT-No2;
    font-size: 5em;
    text-transform: uppercase;
    color:#fff;
}

.platinum-card {
	overflow:hidden;
	color:$u-grey;
	box-shadow: rgba(255,255,255,0.2) 0px 0px 30px 0px;
	transition: all .25s ease;
	
	.card-block {
		padding:0;
		color:$u-grey-l20;
	}

	ul {
		list-style-type: none;
		font-size:$font-size-sm;
		padding:0;
		margin:0;
		li {
		    padding: 10px;
		    border-bottom: 1px solid $u-platinum;
			&:first-of-type {
			}
		    &:last-of-type {
		    	border-bottom:none;
		    }
		    &:hover {
		    	background:$u-platinum-l40;
		    }
		}
	}
	.card-header {
		color:$u-platinum-l30;
		background: $u-platinum;
		border-bottom:1px solid $u-platinum-d10;
	}
	.card-footer {
		color:$u-platinum-l30;
		border-top:1px solid $u-platinum-d10;
		background:$u-platinum;
		transition:all 5s ease;

		a {
			color:$u-platinum-d30;
			display: block;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&:hover {
		box-shadow: rgba(255,255,255,0.5) 0px 0px 50px 0px;
	}
}

#pricing-table {

	color:$u-grey;
	text-align: center;


	th {
	    border-right: 1px solid $u-platinum;
	    border-top:1px solid $u-platinum;
	    background:$u-platinum;
	    color:#fff;
	    text-align:center;

	    &:first-of-type {
	    	border-top:none;
	    	background:none;
	    }

	    &:nth-of-type(2) {
	    	border-right: 1px solid $u-platinum-l50;
	    }
	}
	
	tr {
		&.price-row  {
			& > td:nth-of-type(2){
				border-right: 1px solid $u-platinum-l50;
			}
			& > .feature {
				background:transparent;
				border-bottom: none;
				border-right:1px solid $u-platinum-d10;
			}
		}

		&.divider {
			td {
				&:nth-of-type(1) {
					border:none;
				}
				&:nth-of-type(2) {
					border-right:none;
				}
				&:nth-of-type(3) {
					border-right:none;
				}
			}
		}

		&.freshers-main-event, &.freshers-ticketed-event {
			display:none;

			&.open {
				display:table-row;
			}
		}
	}

	

	td {
		padding:5px;
		border-right:1px solid $u-platinum-d10;
		background:#fff;
		border-bottom: 1px solid $u-platinum-d10;

		&.feature {
			background:transparent;
			border-bottom: none;
			text-align: right;
		}

		&.price {
			background:$u-platinum-d10;
			color:#fff;
			font-size: 2em;
			border-right:1px solid $u-platinum-d10;
			border-bottom: 1px solid $u-platinum-d10;

			&:last-of-type {
				border-right:1px solid $u-platinum-d10;
			}


		}
	}

	th {
		padding:10px;
	}
}

img.platinum-tick {
	max-width:40px;
	max-height:40px;
}