/*
*
* Platinum
* 
*/

.platinum-pass {
	@extend %g-platinum;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-family:  AlternateGothicLT-No2;
    font-size: 5em;
    text-transform: uppercase;
    color:#fff;
}

.platinum-card {
	color:$u-grey;
	box-shadow: rgba(255,255,255,0.2) 0px 0px 30px 0px;
	transition: all .25s ease;
	
	.card-block {
		padding:0;
		color:$u-grey-l20;
	}

	ul {
		list-style-type: none;
		font-size:$font-size-sm;
		padding:0;
		margin:0;
		li {
		    padding: 10px;
		    border-bottom: 1px solid $u-platinum;
			&:first-of-type {
			}
		    &:last-of-type {
		    	border-bottom:none;
		    }
		    &:hover {
		    	background:$u-platinum-l40;
		    }
		}
	}
	.card-header {
		color:$u-platinum-l30;
		background: $u-platinum;
		border-bottom:1px solid $u-platinum-d10;
	}
	.card-footer {
		color:$u-platinum-l30;
		border-top:1px solid $u-platinum-d10;
		background:$u-platinum;
		transition:all 5s ease;

		a {
			color:$u-platinum-d30;
			display: block;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&:hover {
		box-shadow: rgba(255,255,255,0.5) 0px 0px 50px 0px;
	}
}