.event-image { 
  float: right; 
  width: 180px;
  height: 120px;
  overflow: hidden; 
}
.event-image img { width:180px; }
.event-details { 
  float: left; 
  width: 435px;
  min-height: 120px;
}
.event-details h1 {
    border-bottom-style: solid;
    border-bottom-width: 5px;
    font-weight:normal;
    padding-bottom: 0.25em;
    text-transform: uppercase;
    margin-bottom: 0em;
}
p.event-time {font-size:1.2em; margin-bottom: 0em;padding: 0.5em 0.5em 0.25em;}
p.event-location {font-size:1.2em; margin-bottom: 1em;padding: 0.25em 0.5em 0.5em}

.event-description { clear: both; }

.key-icon {
  width:20px;
  margin-right: 10px;
}

.widget.similar-events > div {
    display: inline-table;
    width: 49%;
    height: 250px;
    background: #d6d6d6;
    margin-bottom: 10px;
    position: relative;
    padding: 10px;
    border-radius: 3px;
    margin-left: 5px;
}

dd.event_location {
    margin-bottom: 10px;
}

div.widget.similar-events > div > dl > dt > a > span.event_image > img {
  float:left;
  margin-right:10px;
  margin-bottom:10px;
}
div.widget.similar-events > div > dl > dt > a > span {
  font-size:1.5em;
}
dd.event_description {
    clear: both;
}
dd.event_time {
    margin-top: 30px;
}
.signup-btn h3 {
    padding-bottom: 5px;
    border-bottom: none;
}