 .container.content {
  background: #a0d9e0;
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(bottom left, #a0d9e0 0%, #009a5b 100%);
    background: linear-gradient(to top right, #a0d9e0 0%, #009a5b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0d9e0', endColorstr='#009a5b',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
 }

 .msl_eventlist > div:first-of-type {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
 .event_item {
  width: 46%;
  display: inline-block;
  position: relative;
  margin: 4% 2% 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 wrap;
          flex: 1 wrap;
  padding: 2%;
  background: #fff;
  /* Main Events */
}
 .event_item dl > dd.msl_event_types {
  display: none;
}
 .event_item dl > dd .msl_event_time {
  text-transform: capitalize;
}
 .event_item span.msl_event_image {
  position: absolute;
  top: 0;
  overflow: hidden;
  bottom: 0;
  left: 0;
}
 .event_item > dl {
  margin-left: 150px;
}
 .event_item a.msl_event_name {
  font-family: AlternateGothicLT-No2, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  color: #40373f;
}
 .event_item .w16-tod.day {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 75px 75px;
  border-color: transparent transparent #ffe44d transparent;
  line-height: 0px;
  _border-color: #000000 #000000 #ffe44d #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  position: absolute;
  bottom: 0;
  right: 0;
}
 .event_item .w16-tod.night {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 75px 75px;
  border-color: transparent transparent #a0d9e0 transparent;
  line-height: 0px;
  _border-color: #000000 #000000 #a0d9e0 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  position: absolute;
  bottom: 0;
  right: 0;
}
 .event_item .tod-icon {
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 9999;
  width: 30px;
}
 .event_item.msltypew16_main {
  width: 100%;
}

@media (max-width: 991px) {
   .event_item {
    width: 100%;
  }
}