/*
*
* Buttons
* 
*/

button, .btn {
	border:none;
	padding:7px 12px;
	transition:all .5s ease;
	position: relative;
	border-radius: 0.25em;
	cursor:pointer!important;
	z-index: 9999;

	&:hover {
		color:#fff;
		background: $u-red;	
		cursor:pointer!important;
	}
	&*:hover {
		cursor:pointer!important;
	}

	&:focus {
		outline:none;
	}

	&-grey {
		background:$u-grey;
		color:#fff;

		&.down-arrow-grey:hover:after {
			width: 30px;
			height: 25px;
			margin-left: 40px;
			position:absolute;
			content: '';
			background: url(../icons/down-arrow.svg);
			background-size: cover;
			background-repeat: no-repeat;
			right: 4px;
		    top: 4px;
		}

		&-line {
			border:3px solid $u-grey;
			background:none;
			color:$u-grey;

			&:hover {
				background:$u-grey;
				color:#fff;
			}
		}

		&-left-arrow {
			width: auto;
			padding-left: 60px!important;
			padding-right:10px;
			text-align: left;
			
			&:after {
				width: 30px;
				height: 25px;
				margin-left: 0px;
				position:absolute;
				content: '';
				background: url(../icons/left-arrow-white.svg);
				background-size: 100%;
				background-repeat: no-repeat;
				right: 4px;
			    top: 4px;


			}
		}	
	}

	&-white {
		background:#fff;
		color:$u-grey;


		&-line {
			border:3px solid #fff;
			background:none;
			color:#fff;

			&:hover {
				background:#fff!important;
				color:$u-grey!important;
			}

			
		}

		&-left-arrow {
			width: auto;
			padding-left: 60px!important;
			padding-right:10px;
			text-align: left;
			
			&:after {
				width: 30px;
				height: 25px;
				margin-left: 0px;
				position:absolute;
				content: '';
				background: url(../icons/left-arrow-white.svg);
				background-size: 100%;
				background-repeat: no-repeat;
				right: 4px;
			    top: 4px;


			}
		}	
	}

	&-red {
		background:$u-red;
		color:#fff;

		&:hover {
			background:$u-grey;
			color:#fff;	
		}	
	}

	&-sky-d50 {
		background:$u-sky-d50;
		color:#fff;

		&-line {
			border:3px solid $u-sky-d50;
			background:none;
			color:$u-sky-d50;

			&:hover {
				background:$u-sky-d50;
			}
		}

		&:hover {
			background:$u-grey;
			color:#fff;	
		}	
	}

	&-sky {
		background:$u-sky;
		color:$u-grey;

		&-line {
			border:3px solid $u-sky;
			background:none;
			color:$u-sky;

			&:hover {
				background:$u-sky;
			}
		}

		&:hover {
			background:$u-grey;
			color:#fff;	
		}	
	}

	

	&-right-arrow {
		width: auto;
		padding-right: 60px;
		text-align: left;
		
		&:after {
			width: 30px;
			height: 25px;
			margin-left: 40px;
			position:absolute;
			content: '';
			background: url(../icons/right-arrow.svg);
			background-size: cover;
			background-repeat: no-repeat;
			right: 4px;
		    top: 4px;
		}


	}

	&-right-arrow-grey {
		width: auto;
		padding-right: 60px;
		text-align: left;
		
		&:after {
			width: 30px;
			height: 25px;
			margin-left: 40px;
			position:absolute;
			content: '';
			background: url(../icons/right-arrow-grey.svg);
			background-size: cover;
			background-repeat: no-repeat;
			right: 4px;
		    top: 4px;
		}

		&:hover:after {
			width: 30px;
			height: 25px;
			margin-left: 40px;
			position:absolute;
			content: '';
			background: url(../icons/right-arrow.svg);
			background-size: cover;
			background-repeat: no-repeat;
			right: 4px;
		    top: 4px;
		}
	}

	&-left-arrow {
		width: auto;
		padding-left: 60px;
		text-align: left;
		
		&:after {
			width: 30px;
			height: 25px;
			margin-right: 40px;
			position:absolute;
			content: '';
			background: url(../icons/left-arrow.svg);
			background-size: cover;
			background-repeat: no-repeat;
			left: 4px;
		    top: 4px;


		}
	}

	&-left-arrow-white {
		width: auto;
		padding-left: 60px;
		text-align: left;
		
		&:after {
			width: 30px;
			height: 25px;
			margin-right: 40px;
			position:absolute;
			content: '';
			background: url(../icons/left-arrow-white.svg);
			background-size: cover;
			background-repeat: no-repeat;
			left: 4px;
		    top: 4px;

		    &:hover {
		    	background: url(../icons/left-arrow-white-grey.svg);	
		    }


		}
	}

	&-down-arrow {
		width: auto;
		padding-right: 60px;
		text-align: left;
		
		&:after {
			width: 30px;
			height: 25px;
			margin-left: 40px;
			position:absolute;
			content: '';
			background: url(../icons/down-arrow.svg);
			background-size: cover;
			background-repeat: no-repeat;
			right: 4px;
		    top: 4px;
		}
			
	}

	&-down-arrow-grey {
		width: auto;
		padding-right: 60px;
		text-align: left;
		
		&:after {
			width: 30px;
			height: 25px;
			margin-left: 40px;
			position:absolute;
			content: '';
			background: url(../icons/down-arrow-grey.svg);
			background-size: cover;
			background-repeat: no-repeat;
			right: 4px;
		    top: 4px;
			
			&:hover {
				background: url(../icons/down-arrow.svg);
			}
		}
			
	}


	&-down-arrow-white {
		width: auto;
		padding-right: 60px;
		text-align: left;
		
		&:after {
			width: 30px;
			height: 25px;
			margin-left: 40px;
			position:absolute;
			content: '';
			background: url(../icons/down-arrow.svg);
			background-size: cover;
			background-repeat: no-repeat;
			right: 4px;
		    top: 4px;

		}

		&:hover:after {
			width: 30px;
			height: 25px;
			margin-left: 40px;
			position:absolute;
			content: '';
			background: url(../icons/down-arrow-grey.svg);
			background-size: cover;
			background-repeat: no-repeat;
			right: 4px;
		    top: 4px;

		}
			
	}

	&-close {
		
		&:hover {
			background:none;
			opacity:1;
		}
	}
}