/*
*
* Buttons
* 
*/

button {
	border:none;
	padding:7px 12px;
	transition:all .5s ease;
	position: relative;

	&.grey {
		background:$u-grey;
		color:#fff;	
	}

	&.red {
		background:$u-red;
		color:#fff;

		&:hover {
			background:$u-grey;
			color:#fff;	
		}	
	}

	&:hover {
		background: $u-red;
	}

	&:focus {
		outline:none;
	}

	&.right-arrow {
		width: auto;
		padding-right: 60px;
		text-align: left;
		
		&:after {
			width: 30px;
			height: 25px;
			margin-left: 40px;
			position:absolute;
			content: '';
			background: url(../icons/right-arrow.svg);
			background-size: cover;
			background-repeat: no-repeat;
			right: 4px;
		    top: 5px;


		}
	}

	&.down-arrow {
		width: auto;
		padding-right: 60px;
		text-align: left;
		
		&:after {
			width: 30px;
			height: 25px;
			margin-left: 40px;
			position:absolute;
			content: '';
			background: url(../icons/down-arrow.svg);
			background-size: cover;
			background-repeat: no-repeat;
			right: 4px;
		    top: 5px;
		}
			
	}

	&.close {
		
		&:hover {
			background:none;
			opacity:1;
		}
	}
}