/*
*
* Events
* 
*/

section#events {
	padding: 20px 0px;

	.search {
		padding:20px 0px;

		.filter {
		    height: 40px;
		    padding: 7px 12px;
			border-radius: .25em;
		    background: #fff;
		    

		    transition:all .25s ease;
			&.dropdown {
				padding: 7px 45px 7px 12px;
			}
		    &.active {
		    	background-color: $u-grey;
		    	color:#fff;
		    }

		    &.location {
		    	border:none;
		    	background-color: #fff;

		    	&:hover {
		    		background-color: $u-green;
		    	}

		    	&:hover option {
		    	    display: block;
		    	    margin-top: 0; // remove the gap so it doesn't close
		    	 }
		    }
		}

		.search-bar {
			float:right;
		}

		.dropdown {
			display:inline-block;
		}

		& .filter-list > button {

			& > object.icon {
						height: 30px;
						margin-bottom: -12px;
						padding-left: 10px;
					}
			&.night {
				background-color:#fff;
				background-image: url('/assets/icons/moon_filled.svg');
				background-size: 30px;
				background-repeat: no-repeat;
				background-position: 90%;
				padding-right: 40px!important;
				
				&:hover, &.active {
					background-color: $u-sky;
					color:$u-grey;
				}
			}
			&.day {
				background-color:#fff;
				background-image: url('/assets/icons/sun.svg');
				background-size: 30px;
				background-repeat: no-repeat;
				background-position: 90%;
				padding-right: 40px!important;

				&:hover, &.active {
					background-color:$u-yellow;
					color:$u-grey;

				}
			}
			&.main {
				background-color:#fff;
				background-image: url('/assets/icons/star_filled.svg');
				background-size: 30px;
				background-repeat: no-repeat;
				background-position: 90%;
				padding-right: 40px!important;

				&:hover, &.active {
					background-color:$u-lime;
					color:$u-grey;

				}
			}
		}
	}

	.types {
		display:none
	}
	
	#event-listings-card {
		display:none;
		margin-left: -0.9375rem;
		margin-right: -0.9375rem;	
	}

}