/*
*
* Events
* 
*/

section#events {
	padding: 20px 0px;

	.search {
		padding:20px 0px;

		.filter {
		    height: 40px;
		    padding: 7px 12px;

		    transition:all .25s ease;

		    &.active {
		    	background-color: $u-grey;
		    	color:#fff;
		    }

		    &.location {
		    	border:none;
		    	background-color: #fff;

		    	&:hover {
		    		background-color: $u-green;
		    	}

		    	&:hover option {
		    	    display: block;
		    	    margin-top: 0; // remove the gap so it doesn't close
		    	 }
		    }
		}

		.search-bar {
			float:right;
		}

		& > button {

			& > object.icon {
						height: 30px;
						margin-bottom: -12px;
						padding-left: 10px;
					}
			&.night {
				background-color:#fff;
				background-image: url('/assets/icons/bright_moon.svg');
				background-size: 30px;
				background-repeat: no-repeat;
				background-position: 90%;
				padding-right: 40px!important;
				
				&:hover {
					background-color: $u-sky;

					& > .key > .night {
						background-color: $u-sky;	
					}
				}
			}
			&.day {
				background-color:#fff;
				background-image: url('/assets/icons/sun.svg');
				background-size: 30px;
				background-repeat: no-repeat;
				background-position: 90%;
				padding-right: 40px!important;

				&:hover {
					background-color:$u-yellow;
				}
			}
			&.main {
				background-color:#fff;
				background-image: url('/assets/icons/star.svg');
				background-size: 30px;
				background-repeat: no-repeat;
				background-position: 90%;
				padding-right: 40px!important;
			}

			&:hover {
				background-color:#fff;
			}
		}
	}

	.types {
		display:none
	}
	
	#event-listings {
		display:none;
		margin-left: -0.9375rem;
		margin-right: -0.9375rem;	
	}

}