/*
*
* Header
* 
*/
.logo {
	width: 200px;
	height: auto;
	padding: 10px;
	display: inline-block;
	float:left;
	z-index: 99999;
	position: fixed;
	transition: all .5s ease;
	left: 14px;
	top: 14px;

	svg {
		height:100%;
		width:100%;

		& > g {
			transition:all .5s ;
		}
	}

	&.scrolled {
		width:100px;
		
		svg {
			& > g {
				transform: translateX(-999px);
			}
		}

		&:hover {
			width: 200px;

			svg {
				& > g {
					transform: translateX(0);
				}
			}

		& + nav.nav.headspace--hidden {
			transform: translate3d(0, 0rem, 0);
			}	
		}
	}
	
	&.mobileMenuActive {
		width:100px!important;
		
		svg {
			& > g {
				transform: translateX(-999px)!important;
			}
		}
	}
}
nav.nav {
	display: inline-block;
	position: fixed;
	top:0;
	background: rgba(255, 255, 255, 1);
	width: 100%;
	height: 100px;
	z-index: 9999;

	transition:all .25s ease ;
	
	& > * {
		transition:all .25s ease ;

	}
	
	.nav-item {
		font-size:1.5em;
		line-height: 100px;	
		margin:0;
		position: relative;
		@extend %font-alt;

		a {
			color:$u-grey;
			padding:0 20px;

			&::after {
			    content: '';
			    display: block;
			    position: absolute;
			   	width: 0%;
			    height: 3px;
			    left: 20px;
			    bottom: 30px;
			    background: $u-red;
			    margin: auto;
			    transition: all .25s ease;
			}
	
		}

		&:hover, &.open {
			
			a {

				&::after {
				   	width: calc(100% - 40px);
				   	margin:auto;
				}
		
			}	
		}	

		&:last-of-type {
			border-right:1px solid rgba(255, 255, 255, 0);
		}

		a.dropdown-item {
			color:$u-grey;
		}

		&.nav-item-highlight {

			transition:background .25s ease;
			
			a {
				&::after {
					display:none;
				}
			}

			&.sky {
				background: $u-sky-d40;
				&:hover {
					background: $u-sky-d30;
				}
			}
		}
	}

	.sidebar-toggle.toggled {
		svg {
			fill:$u-grey;
		}
	}	

	.nav-inline {

		display: inline-block;
		float:right;

		.nav-item {
			border-left: 1px solid transparent;
		}

		.nav-item + .nav-item, .nav-link + .nav-link {
			margin:0;
		}
	}
	.nav-secondary {
		display: inline-block;
		float:right;
	}
	.mobile-menu-toggle {
		display:none;
	}

	&.scrolled {
		transition:all 1s ease;

		.logo {
			width:120px;
		}

	}

	// Add .navbar-scrolling to nav for scrolling effects
	&.navbar-scrolling {
		background: rgba(255, 255, 255, 0);

		.nav-item {

			a {
				color:#fff;		
			}
		}

	}
	
	&.navbar-scrolling.scrolled {
		transition:all 1s ease;
		background: #fff;

		.nav-item {
			border-left: 1px solid $gray-lighter;
			position: relative;
			&:after {
				position: absolute;
				width: 100%;
				height: 100%;

			}

			&.open {
			 	a.nav-link {
			 		color:#fff;
			 	}
			}

			a {
				color:$u-grey;

				&:hover,  { 
					color:#fff;
				}	
			}
		
			&:last-of-type {
			border-right:1px solid $gray-lighter;
			}
			
			
		}
		.logo {
			width:120px;
		}
		.nav-inline {
			padding-left:20px;
		}
		input#header-search[type=search] {
			background: url(http://www.thestudentsunion.co.uk/assets/site_resources/search.svg) no-repeat 16px 16px;
			background-size: 25px;
			padding: 16px;
			width: 55px;
			border: none;
			color: transparent;
			height: 60px;
			transition: all .5s;
			position: absolute;
			right:0px;
			z-index: 1;

			&:hover {
				background: $u-red  url(http://www.thestudentsunion.co.uk/assets/site_resources/search-white.svg) no-repeat 16px 16px;
				background-size: 25px;
				cursor: pointer;
				height: 60px;
			}

			&:focus {
				background: url(http://www.thestudentsunion.co.uk/assets/site_resources/search-white.svg) no-repeat 16px 20px;
				border: 1px solid $u-grey;
				width: 350px;
				padding-left: 40px;
				outline: none;
				background-size: 20px;
				color: #fff;
				background-color: $u-red;
				border: none;
				height: 60px;
				right: 86px;


				& + input#header-search-submit {
					width:100%;
					opacity:1;

					&:hover {
						background: $u-red;
					}
				}
			}
		}

		.sidebar-toggle {
			svg {
			fill:$u-grey;
			}	
		}

		

		.sidebar-toggle-top .toggle-bar, .mobile-menu-toggle .toggle-bar {
			background: $u-grey;
		}
	}
}

/* Search */
.search-wrap {
	display: inline-block;
	float: right;
	position: absolute;
	z-index: 10;
	right: 40px;

	input#header-search[type=search] {
		background: url(http://www.thestudentsunion.co.uk/assets/site_resources/search-white.svg) no-repeat 16px 16px;
		background-size: 25px;
		padding: 16px;
		width: 55px;
		border: none;
		color: transparent;
		height: 60px;
		transition: all .5s;
		position: absolute;
		right:0px;
		z-index: 1;
		

		&::-webkit-search-cancel-button {
			display: none;
		}
		&:hover {
			background: $u-red  url(http://www.thestudentsunion.co.uk/assets/site_resources/search-white.svg) no-repeat 16px 16px;
			background-size: 25px;
			cursor: pointer;
			height: 60px;
		}
		&:focus {
			background: url(http://www.thestudentsunion.co.uk/assets/site_resources/search-white.svg) no-repeat 16px 20px;
			border: 1px solid $u-grey;
			width: 350px;
			padding-left: 40px;
			outline: none;
			background-size: 20px;
			color: #fff;
			background-color: $u-red;
			border: none;
			height: 60px;
			right: 86px;


			& + input#header-search-submit {
				width:100%;
				opacity:1;

				&:hover {
					background: $u-red;
				}
			}
		}
	}
	input#header-search-submit {
		display: inline;
		background: $u-red-d10;
		border: none;
		height: 60px;
		margin-left: -4px;
		padding: 0px 20px;
		transition: all .35s ease;
		color: #fff;
		width:0px;
		opacity:0;
	}
}

/* Social Navigation */
.social-nav {
	padding: 6px 0px;
	position: relative;
	float: right;
	padding-right: 60px;
	display: inline-block;
	width: auto;
	height: auto;

    & > * {
    	transition: all .5s ease;
    }

	svg, img {
		width: 24px;
		position: relative;
		margin-left: 20px;
		margin-top: 12px;
	}
	svg {
		z-index: 2;

		&* {
			transition: all .15s ease;
		}
		&#facebook-logo:hover .st0 {
			fill: $facebook;
		}
		&#twitter-logo:hover .st0 {
			fill: $twitter;
		}
		&#insta-logo:hover .st0 {
			fill: $instagram;
		}
		&#yt-logo:hover .a.red {
			fill: $youtube;
		}
		&#snapchat-logo:hover .st0 {
			fill: $snapchat;
		}
	}
}

/* Sidebar */
#sidebar-wrapper {
	z-index: 1000;
    position: fixed;
   	right: 0;
   	top: 0;
    width: 0;
    height: 100%;
    overflow-y: auto;
    background: $u-grey ;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    &.toggled {
    	width:250px;
    }  

    .sidebar-nav {
        position: absolute;
        top: 0;
        margin: 100px 0 0 0 ;
        padding: 0;
        list-style: none;
        width:100%;
        min-width: 250px;
        overflow: hidden;

        & > .sidebar-brand a {
                color: #999999;
                font-size: 120%;
            
            &:hover {
		        color: #fff;
		        background: none;
			}
        }

        li {
            text-indent: 20px;
            line-height: 40px;

	            a {
	                display: block;
	                text-decoration: none;
	                color: $gray-light;

                    &:hover {
            	        text-decoration: none;
            	        color: #fff;
            	        background: rgba(255,255,255,0.2);
                	}
                	&:active, &:focus {
                		 text-decoration: none;	
                	}
              	}

              	&.seperator {
              		display: block;
              		height: 20px;
              	}       
	     }

	}        
}

/* Sidebar toggle */
.sidebar-toggle, .sidebar-toggle-top {
	height: 60px;
	position: relative;
	display: inline-block;
	float: right;
	padding: 14px 10px;
	z-index: 99999;
	transition: all .25s ease;
	
	& svg {
		width:30px;
		height:auto;
		fill:#fff;
		transition:all .5s ease;
	}

	&:hover  {
		cursor:pointer;	

	}

	.toggle-bar {
			transition: all .25s ease;
			z-index: 99999;
			background: #fff;
			height: 3px;
			position: relative;
			width: 30px;
			display: block;
			margin: 5px 5px;

			.toggle-bar {
					&:nth-child(1) {
						transform: translateY(10px) rotate(45deg);
					}
					&:nth-child(2) {
						opacity:0;
					}
					&:nth-child(3) {
						transform: translateY(-6px) rotate(-45deg);
					}	
			}

	}

	&.toggled {
		&:hover  {
			margin-top:0px;

			.toggle-bar {
					&:nth-child(1) {
						transform: translateY(10px) rotate(45deg);
					}
					&:nth-child(2) {
						opacity:0;
					}
					&:nth-child(3) {
						transform: translateY(-6px) rotate(-45deg);
					}	
			}
		}

		& .toggle-bar {
			transition: all .1s ease;
			background: #fff;

			&:nth-child(1) {
				transform: translateY(10px) rotate(45deg);
			}
			&:nth-child(2) {
				opacity:0;
			}
			&:nth-child(3) {
				transform: translateY(-6px) rotate(-45deg);
			}	
		}
	}
}

.mobile-menu-toggle {
	height: 60px;
	position: relative;
	display: inline-block;
	float: right;
	padding: 14px 10px;
	z-index: 99999;
	transition: all .25s ease;
	
	& svg {
		width:30px;
		height:auto;
		fill:#fff;
		transition:all .5s ease;
	}

	&:hover  {
		cursor:pointer;	

	}

	.toggle-bar {
			transition: all .25s ease;
			z-index: 99999;
			background: #fff;
			height: 3px;
			position: relative;
			width: 30px;
			display: block;
			margin: 5px 5px;
			
				}

	&.toggled {
		&:hover  {
			margin-top:0px;

			.toggle-bar {
					&:nth-child(1) {
						transform: translateY(10px) rotate(45deg);
					}
					&:nth-child(2) {
						opacity:0;
					}
					&:nth-child(3) {
						transform: translateY(-6px) rotate(-45deg);
					}	
			}
		}

		& .toggle-bar {
			transition: all .1s ease;
			background: #fff;

			&:nth-child(1) {
				transform: translateY(10px) rotate(45deg);
			}
			&:nth-child(2) {
				opacity:0;
			}
			&:nth-child(3) {
				transform: translateY(-6px) rotate(-45deg);
			}	
		}
	}
}

/* Header Banner */

.header-banner {
	background:$gray-lighter;	
	height:100px;
	margin-bottom:20px;

	h1 {
		text-align:center;
		line-height:100px;
		color:$u-red;
	}

}

@media screen and (max-width: 1160px){

}

@media screen and (max-width: 1160px){

}
@media screen and (max-width: 1000px){
	nav.nav {
		li.nav-item {
		    font-size: 0.9em;
		}
	}
}
@media screen and (max-width: 1200px) {
	nav.nav {
		.logo {
			width:120px;
		}
		.nav-inline {
		    display: inline-block;
		    padding-left: 20px;
		}
	}
	.social-nav svg, .social-nav img {
	    width: 16px;
	    position: relative;
	    margin-left: 13px;
	    margin-top: 15px;
	}
}



/**
 * Headspace starter styles
 */
.headspace {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.2s ease!important;
  height: 4rem;
}
.headspace--hidden {
  transform: translate3d(0, -7rem, 0); /* y value should be -1 * height */
}
.headspace--fixed {
  position: fixed;
}

/**
 * Optional feature: show header when hovering near top
 */
.headspace--hidden:after {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  top: 6rem;
  height: 7rem;
}
.headspace--hidden:hover {
  transform: translate3d(0, 0, 0);
}