/*
*
*  @media queries
* 
*/

// Stop scroll when mobile menu active 

@include media-breakpoint-down(xs) { 
		
}	

@include media-breakpoint-down(sm) { 
	

}
@include media-breakpoint-down(lg) { 

	.sidebar-toggle-top {
		display:none;
	}
	
	.home-header-slider-wrap {
		.slider-content {
			width:100%;
			padding: 0 15px;
		}
		.owl-item.active .owl-slide {
			background-position: -50px 50%;
			background-size: 150% 100%;
		}
	}

	.headspace--hidden {
	    -webkit-transform: translate3d(0, 0rem, 0);
	    transform: translate3d(0, 0rem, 0);
	}
	
	nav.nav {
		
		.logo {
			width:100px;

			& svg > g {
			    transform: translateX(-999px);
			}
		}

		& > .mobile-menu-circle {
				display: block;
				opacity:1;
			    background: #a0d9e0;
			    background: -webkit-linear-gradient(bottom left, #a0d9e0 0%, #009a5b 100%);
			    background: -o-linear-gradient(bottom left, #a0d9e0 0%, #009a5b 100%);
			    background: linear-gradient(to top right, #a0d9e0 0%, #009a5b 100%);
			    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0d9e0', endColorstr='#009a5b',GradientType=1 );
			    position: fixed;
			    top: 40px;
			    right: 40px;
			    width: 0px;
			    height: 0px;
			    border-radius: 50%;
			    z-index:-25;
			   	-webkit-transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
			   	   -moz-transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
			   	     -o-transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
			   	        transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */

			   	-webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
			   	   -moz-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
			   	     -o-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
			   	        transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */


			    &.toggled {
			    		opacity:1;
			    		top: -300px;
		    		    right: -300px;
		    		    width: 1700px;
		    		    height: 1501px;
			    	}
			    }
		

		.mobile-menu-toggle {
			display:block;
		}

		&.toggled {
			& > .logo {				
    					& > a > svg > {
    						& .tri {
    							transform:scale(0.6);
    						}
    						& g {
    						transform: translateX(-600px);
    						}
    					}	
    				}
		}
		
		& > .logo {

			& > a > svg > {
				& .tri {
					transition: all .5s ease;
					transform:scale(1);
				}
				& g {
				transition: all .75s ease;
				transform: translateX(0);
				}
			}	
		}

		.nav-secondary {
			width: 100%;
			display: block;
			opacity: 0;
			margin-right: -100px;
			position:fixed;
			bottom:0;
			z-index: 999999;

			.sidebar-toggle {
				float:left;
			}

			.search-wrap {
				right:0;
				z-index: 999999;

				input#header-search-submit {
					margin-left:0;
				}
				input#header-search[type=search]:focus {
					width:calc(100vw - 82px);
				}
			}

		}

		.mobile-menu-toggle.toggled {
			+ .nav-secondary {
				display:block;
				width:100%;
				opacity: 1;
				margin-right: 0px;
			}
		}
		

		ul.nav.nav-inline {
				visibility:visible;
				opacity:0;
			    position: fixed;
			    height: 0;
			    width: 0;
			    top: 75px;
			    left: auto;
			    right: -1000px;
			    padding-top: 0;
			    bottom: 0;
			    background: transparent;
			    z-index: 999;
				
				transition: all .5s ease;

			    li.nav-item {
			        display: block;
			        width: 100%;
			        text-align: center;
			        font-size: 1.5em;
			        line-height: 2em;
			        padding:0;
			        
			        a {
			        	color:#fff!important;
			        }

			        &.open, &:hover {
			        	& a::after {
			        		width:100px;
			        	}
			        }

			        & a::after {
			        	bottom:10px!important;
			        	right: 0!important;
			        	left: 0!important;
			        	margin: auto;
			        }

			        .dropdown-menu {
			            width: 100%;
			            border: 0;
			            border-radius: 0;
			            margin-left: 0px;

			            &.shadow-5 {
			            	box-shadow:none;
			            }


			            & .dropdown-item {
			            	color:$u-grey
			            }
			        }
			    }

			    a.nav-link {
			        font-size: 2em;
			        width: 100%;
			    }

			    &.mobile-active {
    				visibility:visible;
    				opacity:1;
    				height:calc(100vh - 135px);
    				margin-top:95px;	   
    				padding-left: 0;
    				overflow-y:auto;
    				border-radius: 0px;
    				width:100%;
    				right: 0;
    				top:0;

    				transition: all .5s ease;

    				& > li.nav-item {
    					opacity: 1;
    				}
    			}
		}

		.mobile-menu-toggle.toggled {

			& + .nav-secondary > .sidebar-toggle svg {
				fill:#fff;
			}
		}
		
		.sidebar-toggle.toggled {
			svg {
				fill:$u-grey!important;
			}
		}

		&.scrolled {
			background:rgba(255,255,255,0.70);
			transition:all 1s ease;

			& > .logo {
				opacity:0.5;				
				& > a > svg > {
					& .tri {
						transform:scale(0.6);
					}
					& g {
					transform: translateX(-600px);
					}
				}	
			}

			.nav-item {
				border-left: none;

				a {
					color:#fff;
				}

				&:last-of-type {
				border-right:none;
				}

			}
			.nav-inline {
				padding-left:20px;
			}
			input#header-search[type=search] {
				background: url(http://www.thestudentsunion.co.uk/assets/site_resources/search-white.svg) no-repeat 16px 16px;
				background-size: 25px;
				padding: 16px;
				width: 55px;
				border: none;
				color: transparent;
				height: 60px;
				transition: all .5s;
				position: absolute;
				right:0px;
				z-index: 1;

				&:hover {
					background: $u-red  url(http://www.thestudentsunion.co.uk/assets/site_resources/search-white.svg) no-repeat 16px 16px;
					background-size: 25px;
					cursor: pointer;
					height: 60px;
				}

				&:focus {
					background: url(http://www.thestudentsunion.co.uk/assets/site_resources/search-white.svg) no-repeat 16px 20px;
					border: 1px solid $u-grey;
					width: 350px;
					padding-left: 40px;
					outline: none;
					background-size: 20px;
					color: #fff;
					background-color: $u-red;
					border: none;
					height: 60px;
					right: 86px;


					& + input#header-search-submit {
						width:100%;
						opacity:1;

						&:hover {
							background: $u-red;
						}
					}
				}
			}

			.mobile-menu-toggle {
				&.toggled {
					& > .toggle-bar, + .nav-secondary > .sidebar-toggle > .toggle-bar {
						background: #fff;
					}		
				}
			}

		}
	}	
}
@include media-breakpoint-up(lg) { 
	
}
@include media-breakpoint-down(xl) { 
	
}

