/*
*
* Utility
* 
*/

canvas {
  position: absolute ;
  bottom: 0 ;
  right: 0 ;
  left: 0 ;
  top: 0 ;
}  

.hidden {
	display:none!important;
}

.spacer {
	display:inline-block;
}

.no-pad {
	padding:0 0 0 0;
}

.no-margin {
	margin: 0 0 0 0 ;
}

.pos-rel {
	position:relative!important;
}

.pos-fixed {
	position:fixed!important;
}

// Use on anchor tag for svg buttons. For example social icons.
a.svg-link {
	position: relative;
  	display: inline-block;

  &::after {
  	content: ""; 
  	position: absolute; 
  	top: 0; 
  	right: 0; 
  	bottom: 0; 
  	left: 0;
  }

}

.v-align-wrapper {

	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: table;
    margin: 0 auto;

    &.left {
    	right:auto;
    	width:60%;
    }

    &.right {
    	left:auto;
    	width:40%;
    }

    .v-align {
        display: table-cell;
        vertical-align: middle;
    }
        margin: 0 auto;

    &.home-slider {
    	height:350px;
    }
}


//  Shadows

.shadow-1, button.cta {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow-1:hover, button.cta:hover, .shadow-2:hover, .shadow-3:hover, .shadow-4:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

// Background Color

.bg-red {
		background: $u-red!important;

		&-l10{
			background: $u-red-l10!important;
		}
		&-l20{
			background: $u-red-l20!important;
		}
		&-l30{
			background: $u-red-l30!important;
		}
		&-l40{
			background: $u-red-l40!important;
		}
		&-l50{
			background: $u-red-l50!important;
		}
		&-d10{
			background: $u-red-d10!important;
		}
		&-d20{
			background: $u-red-d20!important;
		}
		&-d30{
			background: $u-red-d30!important;
		}
		&-d40{
			background: $u-red-d40!important;
		}
		&-d50{
			background: $u-red-d50!important;
		}
}

.bg-green {
	background: $u-green!important;
	&-l10{
		background: $u-green-l10!important;
	}
	&-l20{
		background: $u-green-l20!important;
	}
	&-l30{
		background: $u-green-l30!important;
	}
	&-l40{
		background: $u-green-l40!important;
	}
	&-l50{
		background: $u-green-l50!important;
	}
	&-d10{
		background: $u-green-d10!important;
	}
	&-d20{
		background: $u-green-d20!important;
	}
	&-d30{
		background: $u-green-d30!important;
	}
	&-d40{
		background: $u-green-d40!important;
	}
	&-d50{
		background: $u-green-d50!important;
	}
}

.bg-lime {
	background: $u-lime!important;
	&-l10{
		background: $u-lime-l10!important;
	}
	&-l20{
		background: $u-lime-l20!important;
	}
	&-l30{
		background: $u-lime-l30!important;
	}
	&-l40{
		background: $u-lime-l40!important;
	}
	&-l50{
		background: $u-lime-l50!important;
	}
	&-d10{
		background: $u-lime-d10!important;
	}
	&-d20{
		background: $u-lime-d20!important;
	}
	&-d30{
		background: $u-lime-d30!important;
	}
	&-d40{
		background: $u-lime-d40!important;
	}
	&-d50{
		background: $u-lime-d50!important;
	}
}

.bg-sky {
	background: $u-sky!important;
	&-l10{
		background: $u-sky-l10!important;
	}
	&-l20{
		background: $u-sky-l20!important;
	}
	&-l30{
		background: $u-sky-l30!important;
	}
	&-l40{
		background: $u-sky-l40!important;
	}
	&-l50{
		background: $u-sky-l50!important;
	}
	&-d10{
		background: $u-sky-d10!important;
	}
	&-d20{
		background: $u-sky-d20!important;
	}
	&-d30{
		background: $u-sky-d30!important;
	}
	&-d40{
		background: $u-sky-d40!important;
	}
	&-d50{
		background: $u-sky-d50!important;
	}
}

.bg-yellow {
	background: $u-yellow!important;
}

.bg-orange {
	background: $u-orange!important;
	&-l10{
		background: $u-orange-l10!important;
	}
	&-l20{
		background: $u-orange-l20!important;
	}
	&-l30{
		background: $u-orange-l30!important;
	}
	&-l40{
		background: $u-orange-l40!important;
	}
	&-l50{
		background: $u-orange-l50!important;
	}
	&-d10{
		background: $u-orange-d10!important;
	}
	&-d20{
		background: $u-orange-d20!important;
	}
	&-d30{
		background: $u-orange-d30!important;
	}
	&-d40{
		background: $u-orange-d40!important;
	}
	&-d50{
		background: $u-orange-d50!important;
	}
}

.bg-grey {
	background:$u-grey!important;
	&-l10{
		background: $u-grey-l10!important;
	}
	&-l20{
		background: $u-grey-l20!important;
	}
	&-l30{
	backgroundr: $u-grey-l30!important;
	}
	&-l40{
		background: $u-grey-l40!important;
	}
	&-l50{
		background: $u-grey-l50!important;
	}
	&-d10{
		background: $u-grey-d10!important;
	}
	&-d20{
		background: $u-grey-d20!important;
	}
	&-d30{
		background: $u-grey-d30!important;
	}
	&-d40{
		background: $u-grey-d40!important;
	}
	&-d50 {
		background: $u-grey-d50!important;
	}
}

.bg-brand-animation{
	@extend %g-brand-spectrum;
}

// Background Color Hovers

.bg-red-hover {
	transition:all .25s ease;

	&:hover {
		background: $u-red!important;
	}
	
}

.bg-green-hover {
	transition:all .25s ease;

	&:hover {
		background: $u-green!important;
	}
	
}

.bg-lime-hover {
	transition:all .25s ease;

	&:hover {
		background: $u-lime!important;
	}
	
}

.bg-sky-hover {
	transition:background .25s ease;

	&:hover {
		background: $u-sky!important;
	}
	
	&-l10:hover{
		background: $u-sky-l10!important;
	}
	&-l20:hover{
		background: $u-sky-l20!important;
	}
	&-l30:hover{
		background: $u-sky-l30!important;
	}
	&-l40:hover{
		background: $u-sky-l40!important;
	}
	&-l50:hover{
		background: $u-sky-l50!important;
	}
	&-d10:hover{
		background: $u-sky-d10!important;
	}
	&-d20:hover{
		background: $u-sky-d20!important;
	}
	&-d30:hover{
		background: $u-sky-d30!important;
	}
	&-d40:hover{
		background: $u-sky-d40!important;
	}
	&-d50:hover{
		background: $u-sky-d50!important;
	}
}

.bg-yellow-hover {
	transition:all .25s ease;

	&:hover {
		background: $u-yellow!important;
	}
	
}

.bg-orange-hover {
	transition:all .25s ease;

	&:hover {
		background: $u-orange!important;
	}
	
}

.bg-grey-hover {
	transition:all .25s ease;

	&:hover {
		background:$u-grey!important;
	}
	
}

// Font Color

.fc-white {
		color: #fff!important;
}

.fc-red {
		color: $u-red!important;
}

.fc-green {
	color: $u-green!important;
}

.fc-lime {
	color: $u-lime!important;
}

.fc-sky {
	color: $u-sky!important;
	&-l10{
		color: $u-sky-l10!important;
	}
	&-l20{
		color: $u-sky-l20!important;
	}
	&-l30{
		color: $u-sky-l30!important;
	}
	&-l40{
		color: $u-sky-l40!important;
	}
	&-l50{
		color: $u-sky-l50!important;
	}
	&-d10{
		color: $u-sky-d10!important;
	}
	&-d20{
		color: $u-sky-d20!important;
	}
	&-d30{
		color: $u-sky-d30!important;
	}
	&-d40{
		color: $u-sky-d40!important;
	}
	&-d50 {
	color: $u-sky-d50!important;
	}
}

.fc-yellow {
	color: $u-yellow!important;
}

.fc-orange {
	color: $u-orange!important;
}

.fc-grey {
	color:$u-grey!important;
	
}

