/*
*
* Variables
* 
*/

/*
* The Students' Union Colour Variables
*/

$u-red: #e84253 ;

$u-yellow: #ffe44d ;
$u-orange: #f58d17 ;
$u-lime: #adc459 ;
$u-green: #009a5b ;
$u-grey: #40373f ;
$u-sky: #a0d9e0 ;
$u-platinum:#c7c7c7;


/* Red Variations */

$u-red-d10: darken( $u-red, 10% ) ;
$u-red-d20: darken( $u-red, 20% ) ;
$u-red-d30: darken( $u-red, 30% ) ;
$u-red-d40: darken( $u-red, 40% ) ;
$u-red-d50: darken( $u-red, 50% ) ;

$u-red-l10: lighten( $u-red, 10% ) ;
$u-red-l20: lighten( $u-red, 20% ) ;
$u-red-l30: lighten( $u-red, 30% ) ;
$u-red-l40: lighten( $u-red, 40% ) ;
$u-red-l50: lighten( $u-red, 50% ) ;

/* Grey Variations */

$u-grey-l10 : lighten( $u-grey, 10% ) ;
$u-grey-l20 : lighten( $u-grey, 20% ) ;
$u-grey-l30 : lighten( $u-grey, 30% ) ;
$u-grey-l40 : lighten( $u-grey, 40% ) ;
$u-grey-l50 : lighten( $u-grey, 50% ) ;
$u-grey-l60 : lighten( $u-grey, 60% ) ;
$u-grey-l70 : lighten( $u-grey, 70% ) ;
$u-grey-l80 : lighten( $u-grey, 80% ) ;
$u-grey-l90 : lighten( $u-grey, 90% ) ;

$u-grey-d10 : darken( $u-grey, 10% ) ;
$u-grey-d20 : darken( $u-grey, 20% ) ;
$u-grey-d30 : darken( $u-grey, 30% ) ;
$u-grey-d40 : darken( $u-grey, 40% ) ;
$u-grey-d50 : darken( $u-grey, 50% ) ;
$u-grey-d60 : darken( $u-grey, 60% ) ;
$u-grey-d70 : darken( $u-grey, 70% ) ;
$u-grey-d80 : darken( $u-grey, 80% ) ;
$u-grey-d90 : darken( $u-grey, 90% ) ;

/* Sky Variations */
$u-sky-d10: darken( $u-sky, 10% ) ;
$u-sky-d20: darken( $u-sky, 20% ) ;
$u-sky-d30: darken( $u-sky, 30% ) ;
$u-sky-d40: darken( $u-sky, 40% ) ;
$u-sky-d50: darken( $u-sky, 50% ) ;

$u-sky-l10 : lighten( $u-sky, 10% ) ;
$u-sky-l20 : lighten( $u-sky, 20% ) ;
$u-sky-l30 : lighten( $u-sky, 30% ) ;
$u-sky-l40 : lighten( $u-sky, 40% ) ;
$u-sky-l50 : lighten( $u-sky, 50% ) ;

/* Green Variations */

$u-green-l10 : lighten( $u-green, 10% ) ;
$u-green-l20 : lighten( $u-green, 20% ) ;
$u-green-l30 : lighten( $u-green, 30% ) ;
$u-green-l40 : lighten( $u-green, 40% ) ;
$u-green-l50 : lighten( $u-green, 50% ) ;
$u-green-d10 : darken( $u-green, 10% ) ;
$u-green-d20 : darken( $u-green, 20% ) ;
$u-green-d30 : darken( $u-green, 30% ) ;
$u-green-d40 : darken( $u-green, 40% ) ;
$u-green-d50 : darken( $u-green, 50% ) ;

/* Lime Variations */

$u-lime-l10 : lighten( $u-lime, 10% ) ;
$u-lime-l20 : lighten( $u-lime, 20% ) ;
$u-lime-l30 : lighten( $u-lime, 30% ) ;
$u-lime-l40 : lighten( $u-lime, 40% ) ;
$u-lime-l50 : lighten( $u-lime, 50% ) ;
$u-lime-d10 : darken( $u-lime, 10% ) ;	
$u-lime-d20 : darken( $u-lime, 20% ) ;
$u-lime-d30 : darken( $u-lime, 30% ) ;
$u-lime-d40 : darken( $u-lime, 40% ) ;
$u-lime-d50 : darken( $u-lime, 50% ) ;

/* Orange Variations */

$u-orange-l10 : lighten( $u-orange, 10% ) ;
$u-orange-l20 : lighten( $u-orange, 20% ) ;
$u-orange-l30 : lighten( $u-orange, 30% ) ;
$u-orange-l40 : lighten( $u-orange, 40% ) ;
$u-orange-l50 : lighten( $u-orange, 50% ) ;
$u-orange-d10 : darken( $u-orange, 10% ) ;
$u-orange-d20 : darken( $u-orange, 20% ) ;
$u-orange-d30 : darken( $u-orange, 30% ) ;
$u-orange-d40 : darken( $u-orange, 40% ) ;
$u-orange-d50 : darken( $u-orange, 50% ) ;

/* Gradients */

%g-sky-green-light {
    background: $u-sky-l10; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(bottom left, $u-sky-l10 0%, $u-green-l50 100%);
    background: -o-linear-gradient(bottom left, $u-sky-l10 0%, $u-green-l50 100%);
    background: linear-gradient(to top right, $u-sky-l10 0%, $u-green-l50 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$u-sky-l10', endColorstr='$u-green-l50',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

%g-sky-green {
    background: #a0d9e0; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(bottom left, #a0d9e0 0%, #009a5b 100%);
    background: -o-linear-gradient(bottom left, #a0d9e0 0%, #009a5b 100%);
    background: linear-gradient(to top right, #a0d9e0 0%, #009a5b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0d9e0', endColorstr='#009a5b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

%g-yellow-orange {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffe44d+0,f58d17+100 */
	background-image: #ffe44d; /* Old browsers */
	background-image: -moz-linear-gradient(45deg,  #ffe44d 0%, #f58d17 100%); /* FF3.6-15 */
	background-image: -webkit-linear-gradient(45deg,  #ffe44d 0%,#f58d17 100%); /* Chrome10-25,Safari5.1-6 */
	background-image: linear-gradient(45deg,  #ffe44d 0%,#f58d17 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe44d', endColorstr='#f58d17',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

%g-red-grey {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#40373f+0,e84253+100 */
	background-image: #40373f; /* Old browsers */
	background-image: -moz-linear-gradient(45deg,  #40373f 0%, #e84253 100%); /* FF3.6-15 */
	background-image: -webkit-linear-gradient(45deg,  #40373f 0%,#e84253 100%); /* Chrome10-25,Safari5.1-6 */
	background-image: linear-gradient(45deg,  #40373f 0%,#e84253 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40373f', endColorstr='#e84253',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

%g-trans-yellow {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffe44d+0,ffe44d+98&0+0,1+100 */
	background: -moz-linear-gradient(left,  rgba(255,228,77,0) 0%, rgba(255,228,77,0.98) 98%, rgba(255,228,77,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(255,228,77,0) 0%,rgba(255,228,77,0.98) 98%,rgba(255,228,77,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(255,228,77,0) 0%,rgba(255,228,77,0.98) 98%,rgba(255,228,77,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffe44d', endColorstr='#ffe44d',GradientType=1 ); /* IE6-9 */
}

%g-green-trans {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009a5b+0,009a5b+100&1+0,0.01+100 */
	background-image: -moz-linear-gradient(left,  rgba(0,154,91,1) 0%, rgba(0,154,91,0.01) 100%); /* FF3.6-15 */
	background-image: -webkit-linear-gradient(left,  rgba(0,154,91,1) 0%,rgba(0,154,91,0.01) 100%); /* Chrome10-25,Safari5.1-6 */
	background-image: linear-gradient(to right,  rgba(0,154,91,1) 0%,rgba(0,154,91,0.01) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009a5b', endColorstr='#03009a5b',GradientType=1 ); /* IE6-9 */
}

%g-sky-trans {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009a5b+0,a0d9e0+100&0.01+1,1+99 */
	background: -moz-linear-gradient(top,  rgba(0,154,91,0.01) 0%, rgba(2,155,92,0.01) 1%, rgba(158,216,223,1) 99%, rgba(160,217,224,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,154,91,0.01) 0%,rgba(2,155,92,0.01) 1%,rgba(158,216,223,1) 99%,rgba(160,217,224,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,154,91,0.01) 0%,rgba(2,155,92,0.01) 1%,rgba(158,216,223,1) 99%,rgba(160,217,224,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03009a5b', endColorstr='#a0d9e0',GradientType=0 ); /* IE6-9 */
}

%g-brand-spectrum {
	background: linear-gradient(309deg, #a0d9e0, #009a5b, #adc459, #ffe44d, #f58d17, #e84253);
	background-size: 1200% 1200%;

	-webkit-animation: AnimationName 22s ease infinite;
	-moz-animation: AnimationName 22s ease infinite;
	-o-animation: AnimationName 22s ease infinite;
	animation: AnimationName 22s ease infinite;

	@-webkit-keyframes AnimationName {
	    0%{background-position:0% 15%}
	    50%{background-position:100% 86%}
	    100%{background-position:0% 15%}
	}
	@-moz-keyframes AnimationName {
	    0%{background-position:0% 15%}
	    50%{background-position:100% 86%}
	    100%{background-position:0% 15%}
	}
	@-o-keyframes AnimationName {
	    0%{background-position:0% 15%}
	    50%{background-position:100% 86%}
	    100%{background-position:0% 15%}
	}
	@keyframes AnimationName { 
	    0%{background-position:0% 15%}
	    50%{background-position:100% 86%}
	    100%{background-position:0% 15%}
	}
}


%g-platinum {
	background: linear-gradient(129deg, #887b8a, #989898, #818181, #6e6e6e, #7e7f8a);
	background-size: 1000% 1000%;

	-webkit-animation: PlatinumAnimation 10s infinite;
	-moz-animation: PlatinumAnimation 10s infinite;
	-o-animation: PlatinumAnimation 10s infinite;
	animation: PlatinumAnimation 10s infinite;

	@-webkit-keyframes PlatinumAnimation {
	    0%{background-position:15% 0%}
	    50%{background-position:86% 100%}
	    100%{background-position:15% 0%}
	}
	@-moz-keyframes PlatinumAnimation {
	    0%{background-position:15% 0%}
	    50%{background-position:86% 100%}
	    100%{background-position:15% 0%}
	}
	@-o-keyframes PlatinumAnimation {
	    0%{background-position:15% 0%}
	    50%{background-position:86% 100%}
	    100%{background-position:15% 0%}
	}
	@keyframes PlatinumAnimation { 
	    0%{background-position:15% 0%}
	    50%{background-position:86% 100%}
	    100%{background-position:15% 0%}
	}
}

%g-grey-trans {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#40373f+0,40373f+100&0.01+0,1+100 */
	background: -moz-linear-gradient(top,  rgba(64,55,63,0.01) 0%, rgba(64,55,63,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(64,55,63,0.01) 0%,rgba(64,55,63,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(64,55,63,0.01) 0%,rgba(64,55,63,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0340373f', endColorstr='#40373f',GradientType=0 ); /* IE6-9 */
}

 
/* Social Colour Variables */
$facebook: #3b5998 ;
$twitter: #4099FF ;
$instagram: #125688 ;
$youtube: #bb0000 ;
$snapchat: #fffc00 ;


/* Slider Bgs */

%slider-1-bg {
    background: #a0d9e0; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
    background: url('http://www.thestudentsunion.co.uk/pageassets/bars/RED-Nivo-1.jpg'), -webkit-linear-gradient(bottom left, #a0d9e0 0%, #009a5b 100%);
    background: url('http://www.thestudentsunion.co.uk/pageassets/bars/RED-Nivo-1.jpg'), -o-linear-gradient(bottom left, #a0d9e0 0%, #009a5b 100%);
    background: url('http://www.thestudentsunion.co.uk/pageassets/bars/RED-Nivo-1.jpg'), linear-gradient(to top right, #a0d9e0 0%, #009a5b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0d9e0', endColorstr='#009a5b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

%slider-2-bg {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffe44d+0,f58d17+100 */
	background-image: #ffe44d; /* Old browsers */
	background-image: url('http://www.thestudentsunion.co.uk/pageassets/community/welcome-1920x800.jpg'), -moz-linear-gradient(45deg,  #ffe44d 0%, #f58d17 100%); /* FF3.6-15 */
	background-image: url('http://www.thestudentsunion.co.uk/pageassets/community/welcome-1920x800.jpg'), -webkit-linear-gradient(45deg,  #ffe44d 0%,#f58d17 100%); /* Chrome10-25,Safari5.1-6 */
	background-image: url('http://www.thestudentsunion.co.uk/pageassets/community/welcome-1920x800.jpg'), linear-gradient(45deg,  #ffe44d 0%,#f58d17 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe44d', endColorstr='#f58d17',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

%slider-3-bg {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#40373f+0,e84253+100 */
	background-image: #40373f; /* Old browsers */
	background-image: url('http://www.thestudentsunion.co.uk/pageassets/presidents-2000x340-2015.jpg'), -moz-linear-gradient(45deg,  #40373f 0%, #e84253 100%); /* FF3.6-15 */
	background-image: url('http://www.thestudentsunion.co.uk/pageassets/presidents-2000x340-2015.jpg'), -webkit-linear-gradient(45deg,  #40373f 0%,#e84253 100%); /* Chrome10-25,Safari5.1-6 */
	background-image: url('http://www.thestudentsunion.co.uk/pageassets/presidents-2000x340-2015.jpg'), linear-gradient(45deg,  #40373f 0%,#e84253 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40373f', endColorstr='#e84253',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* Typography */

%font-alt {
	font-family:AlternateGothicLT-No2;;
	text-transform:uppercase;
}
