/*
*
* Variables
* 
*/



/*
* The Students' Union Colour Variables
*/

$u-red: #e84253 ;
$u-black: #000 ;

$u-yellow: #ffe44d ;
$u-orange: #f58d17 ;
$u-lime: #adc459 ;
$u-green: #009a5b ;
$u-grey: #40373f ;
$u-sky: #a0d9e0 ;

/*
* Social Colour Variables
*/