/*
*
* Welcome
* 
*/

/* Start: Landing Page */
body.welcome-page {

	/* Globals */
	section:last-of-type {
	    padding-bottom: 0!important;
	}
	section:first-of-type {
		padding:150px 0px 50px!important;
	}



	.mobile-menu-toggle {
		padding: 35px 30px;
		
		.toggle-bar {
			background: $u-sky-d50;
		}
	}

	.bg-pattern-left {
		position: absolute;
		height: 100%;
		width: 100%;

		bottom:0;
		left:0;

		background-size:cover;
		background-image: url('/assets/img/tri-pattern-left.png');
		background-repeat: no-repeat;
		background-position: bottom left;
	}

	.bg-pattern-left-top {
		position: absolute;
		height: 100%;
		width: 100%;

		bottom:0;
		left:0;

		background-size:contain;
		background-image: url('/assets/img/tri-pattern-left-top.png');
		background-repeat: no-repeat;
		background-position: top left;
	}	

	.bg-pattern-right {
		position: absolute;
		height: 100%;
		width: 100%;

		bottom:0;
		left:0;

		background-size:cover;
		background-image: url('/assets/img/tri-pattern-right.png');
		background-repeat: no-repeat;
		background-position: bottom left;


	}	
	
	
	/* Section: Landing*/

	section#landing {
		min-height: 100vh;
		position: relative;
		background: $u-sky;
		overflow:hidden;

		span.intro-text {
			font-size:$font-size-lg;
			font-weight: 900;
		}
		
		.find-out-more {
			position:absolute;
			bottom:20px;
			right:20px;
		}

		.stats-wrapper {
			.stat {
				display: inline-block;
				padding:10px 20px;
				border-right:2px solid;

				&:first-of-type {
					padding:10px 20px 10px 0px;
				}
				&:last-of-type {
					border-right:none;
				}
				span {
					font-size: $display4-size;
					line-height: 3rem;
					@extend %font-alt;
				}

				p, span {
					margin:0;
				}
			}
		}

	}

	/* Section: Get Started */
	section#get-started {
		@extend %g-brand-spectrum;
		padding:150px 0;

		a.card-link-wrap {
			color:$u-grey;
		}

		.get-started-col {

			transition:all 1s ease; 

			&[data-bg='events']:hover > .get-started {
				background-color:$u-red;
				color:#fff;
			}
			&[data-bg='faq']:hover > .get-started {
				background-color:$u-sky;
				color:#fff;
			}
			&[data-bg='blog']:hover > .get-started {
				background-color:$u-orange;
				color:#fff;
			}
			&[data-bg='platinum']:hover > .get-started {
				background-color:$u-platinum;
				color:#fff;
			}
			&[data-bg='freshersFair']:hover > .get-started {
				background-color:$u-yellow;
			}
			&[data-bg='closingFestival']:hover > .get-started {
				background-color:$u-green;
				color:#fff;
			}
			&[data-bg='UWE']:hover > .get-started {
				background-color:$UWE;
				color:#fff;
			}
		}

		.card.get-started {
		    height: 300px;
		    background-color:rgba(255, 255, 255, 0.3);
		    text-align: center;
		}

		.bg-placeholder {
		    position: absolute;
		    height: 100%;
		    width: 100%;
		    bottom: 0;
		    left: 0;
		    z-index: 0;
			transition:all 1s ease;
			opacity:0;
			background-size:contain;
			background-image: url('/assets/img/tri-pattern-left.png');
			background-repeat: no-repeat;
			background-position: bottom left;

			&.events {
				transition:all 1s ease;
				background-color:$u-red-l20;
			}

			&.faq {
				transition:all 1s ease;
				background-color:$u-sky-d20;
			}

			&.blog {
				transition: all 1s ease;
				background-color:$u-orange-l20;
			}

			&.platinum {
				transition: all 1s ease;
				background-color:$u-grey-l20;
			}

			&.freshersFair {
				transition: all 1s ease;
				background-color:$u-yellow-d20;
			}
			&.closingFestival {
				transition: all 1s ease;
				background-color:$u-green-l20;
			}
			&.UWE {
				transition: all 1s ease;
				background-color:$UWE-d10;
			}



		}
	}
	/* Section: Student Leaders */
	section#student-leaders {
		
		height: 300px;
		position: relative;
		background-image: url("/assets/img/FT_wall_extended.jpg");
		background-position: 90%;
		background-size: cover;
		color:#fff;

		transition:all .5s ease;

		.grad-overlay {
			position: absolute;
			top: 0;
			bottom:0;
			left:0;
			right: 0;
			@extend %g-green-trans;
		}

		&:hover {
			background-position:100%;

			button {
				background-color:$u-red;
			}
			
		}

	}	

	/* Section: News */
	section#news {
		
		height: 300px;
		position: relative;
		background-image: url("/assets/img/acomm_extended.jpg");
		background-position: 80%;
		background-size: cover;
		color:$u-grey;

		transition:all .5s ease;

		.grad-overlay {
			position: absolute;
			top: 0;
			bottom:0;
			left:0;
			right: 0;
			@extend %g-trans-yellow;
		}

		&:hover {
			background-position:100%;

			button {
				background-color:$u-red;
			}
			
		}

	}	

	/* Section: Social + Signup */

	section#social-signup {
		
		.sign-up-wrap {
			height:170px;
		}
		& .container > .row > *[class*='col-'] {
			height: 400px;
		}

		.sign-up {
			background:$u-sky-d40;
			color:#fff;
			text-align: center;

			&:before {
				background: $u-sky-d40;
			    bottom: 0;
			    content: "";
			    position: absolute;
			    right: 100%;
			    top: 0;
			    width: 9999px;
			}

			.sign-up-wrap {
				max-width:350px;
			}
		}

		.social {			
			.social-wrap {
				float:right;
			}
			.social-icon {
				width:3em;
				
				& > path {
					transition:all .25s ease;
				}
				

				&:last-of-type {
					margin-left:0px;
				}
			}

			#snapchat-code {
				width: 80%;
			    margin: auto;
			    display: block;
			    margin-top: 2rem;
			    margin-bottom: 2rem;

			}
		}
	}

	

	/* Section: Social */

	section#social {

		@extend %g-yellow-orange ;
		height:300px;
		padding:50px 0px;
		position: relative;
		color:$u-grey;

		& h1, & h2, & h3 {
			margin: 0;
		}

		.icon {
		    width: 5em;
		    margin:0 1em;
		}



	}

	/* Section: Events */
	
	section#events, section#news-list  {
		position: relative;
		@extend %g-sky-green-light ;
	}




	/* Section: UWE Get Ready */

	section#uwe-get-ready {
		position: relative;
		height: 200px;
		background:$u-sky;

	}


	//  Media Queries
	@include media-breakpoint-down(sm) {

			body.welcome-page section:first-of-type {
			    padding: 150px 0px 100px !important;
			}

			section#landing {

				.stats-wrapper {
					text-align: center;
					
					& > .stat {
						
						border-right: 1px solid;
						
						& > p {
							font-size:0.7em;
						}

						& > span {
						    font-size: 1.5rem;
						    line-height: 2rem;
						}
					}
				}

			    .spacer {
			    	margin-left:1em!important;
			    }	

				.landing-welcome {
				    padding-top: 1em;
				}

				span.intro-text {
					font-size:1em;
				}
			}
		
			section#social-signup {
				.social {
					.social-icon {
						width: 1.5em;
					}
				}

			}
			section#student-leaders {
				height: 200px;
				background-position: 90%;

				p {
					opacity:0;
				}

				.grad-overlay {
					opacity: 0.3;
				}
			}
			section#events {
				
				.event-col {
					margin-top: 40px;

					.card-img-top {
						background-position:center!important;
					}

					&:hover .key {
					    top: -40px !important;
					}
				}

			}

			section#news {
				p {
					opacity:0;
				}
			}

			footer.footer {
			    height: auto;
			    margin-top: 40px;
			}

		}
		
	@include media-breakpoint-down(md) {
		section#landing {
			.row {
				padding-top:0;
			}				
			.featured-item {
				margin-top: 50px;
			}
			.featured-image {
				width:100%;
				height: 100%;
				bottom: 0;

			}
		}

		section#social-signup {
			
			overflow:hidden;

			.container > .row > *[class*='col-'] {
			    height: 200px;
			}

			.sign-up {
				.sign-up-wrap {
					max-width: none;
					height:auto;

					.input-wrap {
						margin:1em 0 0;
					}
				}
				&:after {
				    background: $u-sky-d40;
				    bottom: 0;
				    content: "";
				    position: absolute;
				    left: 100%;
				    top: 0;
				    width: 9999px;
				}
			}
			.social {
				.social-wrap {
					float:none;
					text-align:center;
				}
			}
		}
	}

	@include media-breakpoint-up(xxl) {
		section#landing {
			.featured-image {
				width:45%;
			}
		}
	}	

	@media screen and (max-height: 992px) and (min-width: 992px) {
          	section#landing {
    		.row {
    			padding-top:0;
    		}
    	}
	}

}

/* End: Landing Page */

/* Start: Event Page */
body.welcome-page.event-page {



	section#events {
		padding-top:150px;
		input#search {
		    width: 300px;
		}
		
		#event-list {
			margin-top: 2em;
		}


		// Catagory colors
		.search {
			.filter.catagory-filter {
				&[data-catagory='giag'] {
					
				}
				&[data-catagory='liveMusic'] {
				}
			}
		}
		.card.featured-event {
		    height: 200px;
		    text-align: center;

		    & > .v-align-wrapper {
		    	padding:20px;
		    }
		}		
	}

	section#giag {
		position: relative;
		height: 200px;
	}

	@include media-breakpoint-down(md) {		
		section#events {
			& .search .search-bar {
				margin: 10px 0px;
				float: left;
				display: block;
				width: 100%;
			}	
		}	
	}
}

/* End: Event Page */

/* Start: Blog Page */
body.welcome-page.blog-page {

	section#blog-list {
		@extend %g-yellow-orange;
		.search-wrapper {
			padding-top:0;
			& > .search {
				padding-top:0;
				.search-bar {
					float:none!important;
				}
			}
		}
	}

}

/* Start: Event Page */
body.welcome-page.platinum-page {


	section#platinum {
		background:$u-grey;
		min-height:100vh;
		padding:150px 0px 50px;
		position: relative;
		color:#fff;

		& h1, & h2, & h3 {
			margin: 0;
		}

		span.platinum-pass {
		    border: 2px solid;
		    padding: 10px 20px;
		    border-radius: 5px;
		    font-family:  AlternateGothicLT-No2;
		    font-size: 5em;
		    text-transform: uppercase;
		}
	}
}

/* Start: FAQ Page */
body.welcome-page.faq-page {
	section#faq-list {
		@extend %g-red-grey ;
	}
}
/* End: FAQ Page */