/*
*
* Welcome
* 
*/

body.welcome-page {

	/* Section: Landing*/

	section#landing {
		height: 90vh;
		position: relative;
		@extend %g-brand-spectrum ;
		overflow:hidden;
		
		.featured-image {
			background-image: url('../img/white-tees.jpg');
			-webkit-background-size: cover;
			background-size: cover;
			background-repeat: no-repeat;
			position: absolute;
			width:40%;
			height: 100%;
			right: 0;
			mix-blend-mode: multiply;
		}		

		.row {
			padding-top:200px;
		}

		.featured-item {
			color:#fff;

			span.title {
				display: block;
				border-bottom:1px solid #fff;
				padding-bottom: 10px;
				margin-bottom: 40px;
			}

			.meta {

				text-transform:uppercase;
				margin-bottom: 20px;

				& > div {
					display: inline-block;

					&:first-of-type {
						margin-right:20px;
					}
				}

				object.icon {
					width:20px;
				}
			}
		}

	}

	/* Section: Social */

	section#social-signup {
		
		height: 300px;

		& .container > .row > *[class*='col-'] {
			height: 300px;
		}

		.sign-up {
			background:$u-grey;
			color:#fff;
			text-align: center;
		}

		.social {
			text-align: center;

			.social-icon {
				width:6em;
				margin-left:20px;

				&:last-of-type {
					margin-left:0px;
				}
			}
		}
	}

	/* Section: Platinum */

	section#platinum {
		@extend %g-platinum;
		height:300px;
		padding:50px 0px;
		position: relative;
		color:#fff;

		& h1, & h2, & h3 {
			margin: 0;
		}

		span.platinum-pass {
		    border: 2px solid;
		    padding: 10px 20px;
		    border-radius: 5px;
		    font-family:  AlternateGothicLT-No2;
		    font-size: 5em;
		    text-transform: uppercase;
		}
	}

	/* Section: Social */

	section#social {

		@extend %g-yellow-orange ;
		height:300px;
		padding:50px 0px;
		position: relative;
		color:$u-grey;

		& h1, & h2, & h3 {
			margin: 0;
		}

		.icon {
		    width: 5em;
		    margin:0 1em;
		}

	}

	/* Section: Events */

	section#events {
		@extend %g-sky-green-light ;
	}



 	/* MSL Markup: General Events */

 	.msl_eventlist > div:first-of-type  {
 	    margin: auto;
 	   	display:flex;
 	   	flex-wrap:wrap;
 	}

 	.event_item {
	    width: 46%;
	    display: inline-block;
	    position: relative;
	    margin: 4% 2% 0;
	    flex: 1 wrap;
	    padding: 2%;
	    background: #fff;

	    & dl > dd {
	    	&.msl_event_types {
	    		        display: none;
	    		    }
	    	.msl_event_time {
	    		text-transform: capitalize;
	    	}	    
	    }

	    span.msl_event_image {
	        position: absolute;
	        top: 0;
	        overflow: hidden;
	        bottom: 0;

	        left: 0;
	    }
			
		& > dl {
	   		margin-left: 150px;
		}

		a.msl_event_name {
			font-family: 'Alternate Gothic';
			text-transform: uppercase;
			font-weight:normal;
			font-size: 2em
;			color:$u-grey;
		}

		.w16-tod {

			&.day {
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 0 75px 75px;
					border-color: transparent transparent #ffe44d transparent;
					line-height: 0px;
					_border-color: #000000 #000000 #ffe44d #000000;
					_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
					position: absolute;
					bottom: 0;
					right: 0;


				}
			&.night {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0 75px 75px;
				border-color: transparent transparent #a0d9e0 transparent;
				line-height: 0px;
				_border-color: #000000 #000000 #a0d9e0 #000000;
				_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
				position: absolute;
				bottom: 0;
				right: 0;
			}	
		}

		.tod-icon {
		    position: absolute;
		    right: 5px;
		    bottom: 5px;
		    z-index: 1;
		    width: 30px;
		}

		/* Main Events */

		&.msltypew16_main {
		    width: 100%;
		}	
	}

}

@include media-breakpoint-down(md) { 

	body.welcome-page {
		.event_item {
			width:100%;
		}
	}

}