/*
*
*  @media queries
* 
*/

@include media-breakpoint-down(xs) { 
		
}	

@include media-breakpoint-down(sm) { 
	

}
@include media-breakpoint-down(md) { 


	.home-header-slider-wrap {
		.slider-content {
			width:100%;
			padding: 0 15px;
		}
		.owl-item.active .owl-slide {
			background-position: -50px 50%;
			background-size: 150% 100%;
		}
	}

	nav.nav {

		.mobile-menu-toggle {
			display:block;
		}
		
		& > .logo {

			& > a > svg > {
				& .tri {
					transition: all .5s ease;
					transform:scale(1);
				}
				& g {
				transition: all .75s ease;
				transform: translateX(0);
				}
			}	
		}

		.nav-secondary {
			display:none;
		}

		.mobile-menu-toggle.toggled {
			+ .nav-secondary {
				display:block;
				width:100%;
			}
		}

		ul.nav.nav-inline {
				visibility:hidden;
				opacity:0;
			    position: fixed;
			    height:0;
			    top: 0;
			    left: 0;
			    right: 0;
			    padding-top: 0;
			    bottom: 0;
			    background: #a0d9e0; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
			    background: -webkit-linear-gradient(bottom left, #a0d9e0 0%, #009a5b 100%);
			    background: -o-linear-gradient(bottom left, #a0d9e0 0%, #009a5b 100%);
			    background: linear-gradient(to top right, #a0d9e0 0%, #009a5b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0d9e0', endColorstr='#009a5b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			    z-index: -1;

			    li.nav-item {
			        display: block;
			        width: 100%;
			        text-align: right;
			    }

			    a.nav-link {
			        font-size: 2em;
			    }

			    .nav-secondary.hidden-sm-down {
			        display: block;
			        width: 100%;
			        height: 100%;
			    }

			    .nav-secondary.hidden-sm-down {
			        display: block!important;
			    }
		}	
	
		ul.nav.nav-inline.mobile-active {
				visibility:visible;
				opacity:1;
				height:100%;
				padding-top:135px;	   
		}

		&.scrolled {
			background:rgba(255,255,255,0.70);

			& > .logo {				
				& > a > svg > {
					& .tri {
						transform:scale(0.6);
					}
					& g {
					transform: translateX(-600px);
					}
				}	
			}
		}
	}	
}
@include media-breakpoint-down(lg) { 
	
}
@include media-breakpoint-down(xl) { 
	
}